{% extends '.\base.html' %}
{% load static %}


{% block content %}

    <section class="login-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 wow fadeInUp animated" data-wow-delay="300ms">
                    <div class="login-page__wrap">
                        <h3 class="login-page__wrap__title">Новый пароль</h3>

                        <form class="login-page__form" method="POST">
                            {% csrf_token %}
                            <div class="form-error">{{ form.non_field_error }}</div>
                            {% for f in form %}
                            <div><label class="login-page__form-input-box"
                                      for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</div>
                            <div class="form-errors"> {{ f.errors }}</div>
                            {% endfor %}
                            <p></p>
                            <div class="login-page__form-btn-box">
                                    <button type="submit" class="villoz-btn">
                                        <i>Сохранить</i>
                                        <span>Сохранить</span>
                                    </button>
                                </div>
                        </form>


                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp animated" data-wow-delay="300ms">
                     <div class="login-page__wrap">
                    <img src="{% static 'hotels/images/registration.png' %}" alt='{{ hotel.title }}'/>
                     </div>
                </div>

            </div>

        </div>
    </section>


{% endblock %}