{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="about-three">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-three__thumb wow fadeInLeft" data-wow-delay="300ms">
                            <div class="about-three__thumb__one"><img src="{% static 'hotels/assets/images/resources/about-3-1.jpg '%}" alt="villoz"></div>
                            <div class="about-three__thumb__two villoz-tilt" data-tilt-options='{ "glare": false, "maxGlare": 0, "maxTilt": 3, "speed": 700, "scale": 1 }'>
                                <img src="{% static 'hotels/assets/images/resources/about-3-2.jpg '%}" alt="villoz">
                            </div>
                        </div><!-- /.about__image -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6 wow fadeInRight" data-wow-delay="300ms">
                        <div class="about-three__content">
                            <div class="sec-title text-left">

                                <h6 class="sec-title__tagline">About the villoz</h6><!-- /.sec-title__tagline -->

                                <h3 class="sec-title__title">Get to Know About the Villoz Rentals</h3><!-- /.sec-title__title -->
                            </div><!-- /.sec-title -->
                            <div class="about-three__box">
                                <div class="about-three__box__icon"><span class="icon-tick"></span></div>
                                <h3 class="about-three__box__title">Professional and Certified</h3>
                                <p class="about-three__box__text">
                                    Lorem ipsum is simply free text dolor sit but the majority have suffered amet, consectetur notted.
                                </p>
                            </div>
                            <div class="about-three__box">
                                <div class="about-three__box__icon"><span class="icon-tick"></span></div>
                                <h3 class="about-three__box__title">Get Best Villas Discount</h3>
                                <p class="about-three__box__text">
                                    Lorem ipsum is simply free text dolor sit but the majority have suffered amet, consectetur notted.
                                </p>
                            </div>
                            <a href="about.html" class="villoz-btn">
                                <i>Discover More</i>
                                <span>Discover More</span>
                            </a>
                        </div><!-- /.about__content -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.about-three -->
        <section class="fact-one fact-one--about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                        <div class="fact-one__item text-center" style="background-image:src="{% static 'hotels/assets/images/shapes/funfact-border-white.png '%});">
                            <div class="fact-one__item__icon"><span class="icon-house"></span></div><!-- /.fact-one__icon -->
                            <div class="fact-one__item__count">
                                <span class="count-box">
                                    <span class="count-text" data-stop="920" data-speed="1500"></span>
                                </span>
                            </div><!-- /.fact-one__count -->
                            <h3 class="fact-one__item__title">Luxury Villas</h3><!-- /.fact-one__title -->
                        </div><!-- /.fact-one__item -->
                    </div><!-- /.col-lg-3 col-md-6 -->
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <div class="fact-one__item text-center" style="background-image:src="{% static 'hotels/assets/images/shapes/funfact-border-white.png '%});">
                            <div class="fact-one__item__icon"><span class="icon-recommend"></span></div><!-- /.fact-one__icon -->
                            <div class="fact-one__item__count">
                                <span class="count-box">
                                    <span class="count-text" data-stop="28" data-speed="1500"></span>K
                                </span>
                            </div><!-- /.fact-one__count -->
                            <h3 class="fact-one__item__title">Five Star Rating</h3><!-- /.fact-one__title -->
                        </div><!-- /.fact-one__item -->
                    </div><!-- /.col-lg-3 col-md-6 -->
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                        <div class="fact-one__item text-center" style="background-image:src="{% static 'hotels/assets/images/shapes/funfact-border-white.png '%});">
                            <div class="fact-one__item__icon"><span class="icon-refugee"></span></div><!-- /.fact-one__icon -->
                            <div class="fact-one__item__count">
                                <span class="count-box">
                                    <span class="count-text" data-stop="80" data-speed="1500"></span>K
                                </span>
                            </div><!-- /.fact-one__count -->
                            <h3 class="fact-one__item__title">International Guests</h3><!-- /.fact-one__title -->
                        </div><!-- /.fact-one__item -->
                    </div><!-- /.col-lg-3 col-md-6 -->
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <div class="fact-one__item text-center" style="background-image:src="{% static 'hotels/assets/images/shapes/funfact-border-white.png '%});">
                            <div class="fact-one__item__icon"><span class="icon-hot-coffee"></span></div><!-- /.fact-one__icon -->
                            <div class="fact-one__item__count">
                                <span class="count-box">
                                    <span class="count-text" data-stop="990" data-speed="1500"></span>
                                </span>
                            </div><!-- /.fact-one__count -->
                            <h3 class="fact-one__item__title">Breakfast Served</h3><!-- /.fact-one__title -->
                        </div><!-- /.fact-one__item -->
                    </div><!-- /.col-lg-3 col-md-6 -->
                </div>
            </div>
        </section>
        <section class="testimonials-one testimonials-one--home-three" style="background-image:src="{% static 'hotels/assets/images/backgrounds/testimonial-bg-3.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="testimonials-one__content">
                            <div class="sec-title text-left">

                                <h6 class="sec-title__tagline">Guest reviews</h6><!-- /.sec-title__tagline -->

                                <h3 class="sec-title__title">What Guests Saying?</h3><!-- /.sec-title__title -->
                            </div><!-- /.sec-title -->
                            <div class="testimonials-one__content__ratings">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div><!-- /.testimonials-average__ratings -->
                            <p class="testimonials-one__content__text">Trust Score 4.5 (Based on 2,500 Reviews)</p>
                            <div class="testimonials-one__carousel-dots"></div><!-- /.testimonials-custome-dots -->
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="testimonials-one__carousel villoz-owl__carousel villoz-owl__carousel--with-shadow owl-carousel" data-owl-options='{
					"items": 1,
					"margin": 30,
					"loop": false,
					"smartSpeed": 700,
					"nav": false,
					"navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
					"dots": true,
					"dotsContainer": ".testimonials-one__carousel-dots",
					"autoplay": false,
					"responsive": {
						"0": {
							"items": 1
						},
						"768": {
							"items": 2
						}
					}
					}'>
                            <div class="item">
                                <div class="testimonials-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='000ms'>
                                    <div class="testimonials-card__top-bg" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-1.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                    <div class="testimonials-card__rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div><!-- /.testimonials-card__rating -->
                                    <div class="testimonials-card__content">
                                        Lorem ipsum is simply free dolor not sit amet, notted adipisicing elit sed do eiusmod incididunt labore et dolore text.
                                    </div><!-- /.testimonials-card__content -->
                                    <div class="testimonials-card__author">
                                        <img src="{% static 'hotels/assets/images/resources/testi-1-1.jpg '%}" alt="Mike Hardson">
                                        <h3 class="testimonials-card__name">
                                            Mike Hardson
                                        </h3><!-- /.testimonials-card__name -->
                                        <p class="testimonials-card__designation">CEO - Co Founder</p><!-- /.testimonials-card__designation -->
                                    </div><!-- /.testimonials-card__image -->
                                    <div class="testimonials-card__bottom-bg" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-2.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                    <div class="testimonials-card__bottom-bg-hover" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-2-hover.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                </div><!-- /.testimonials-card -->
                            </div><!-- /.item -->
                            <div class="item">
                                <div class="testimonials-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='100ms'>
                                    <div class="testimonials-card__top-bg" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-1.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                    <div class="testimonials-card__rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div><!-- /.testimonials-card__rating -->
                                    <div class="testimonials-card__content">
                                        Lorem ipsum is simply free dolor not sit amet, notted adipisicing elit sed do eiusmod incididunt labore et dolore text.
                                    </div><!-- /.testimonials-card__content -->
                                    <div class="testimonials-card__author">
                                        <img src="{% static 'hotels/assets/images/resources/testi-1-2.jpg '%}" alt="Alesha Brown">
                                        <h3 class="testimonials-card__name">
                                            Alesha Brown
                                        </h3><!-- /.testimonials-card__name -->
                                        <p class="testimonials-card__designation">Co Founder</p><!-- /.testimonials-card__designation -->
                                    </div><!-- /.testimonials-card__image -->
                                    <div class="testimonials-card__bottom-bg" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-2.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                    <div class="testimonials-card__bottom-bg-hover" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-2-hover.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                </div><!-- /.testimonials-card -->
                            </div><!-- /.item -->
                            <div class="item">
                                <div class="testimonials-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='200ms'>
                                    <div class="testimonials-card__top-bg" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-1.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                    <div class="testimonials-card__rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div><!-- /.testimonials-card__rating -->
                                    <div class="testimonials-card__content">
                                        Lorem ipsum is simply free dolor not sit amet, notted adipisicing elit sed do eiusmod incididunt labore et dolore text.
                                    </div><!-- /.testimonials-card__content -->
                                    <div class="testimonials-card__author">
                                        <img src="{% static 'hotels/assets/images/resources/testi-1-3.jpg '%}" alt="Kevin Martin">
                                        <h3 class="testimonials-card__name">
                                            Kevin Martin
                                        </h3><!-- /.testimonials-card__name -->
                                        <p class="testimonials-card__designation">Developer</p><!-- /.testimonials-card__designation -->
                                    </div><!-- /.testimonials-card__image -->
                                    <div class="testimonials-card__bottom-bg" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-2.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                    <div class="testimonials-card__bottom-bg-hover" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-2-hover.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                </div><!-- /.testimonials-card -->
                            </div><!-- /.item -->
                            <div class="item">
                                <div class="testimonials-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                                    <div class="testimonials-card__top-bg" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-1.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                    <div class="testimonials-card__rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div><!-- /.testimonials-card__rating -->
                                    <div class="testimonials-card__content">
                                        Lorem ipsum is simply free dolor not sit amet, notted adipisicing elit sed do eiusmod incididunt labore et dolore text.
                                    </div><!-- /.testimonials-card__content -->
                                    <div class="testimonials-card__author">
                                        <img src="{% static 'hotels/assets/images/resources/testi-1-4.jpg '%}" alt="Mark Smith">
                                        <h3 class="testimonials-card__name">
                                            Mark Smith
                                        </h3><!-- /.testimonials-card__name -->
                                        <p class="testimonials-card__designation">Reviwer</p><!-- /.testimonials-card__designation -->
                                    </div><!-- /.testimonials-card__image -->
                                    <div class="testimonials-card__bottom-bg" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-2.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                    <div class="testimonials-card__bottom-bg-hover" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-2-hover.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                </div><!-- /.testimonials-card -->
                            </div><!-- /.item -->
                            <div class="item">
                                <div class="testimonials-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='000ms'>
                                    <div class="testimonials-card__top-bg" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-1.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                    <div class="testimonials-card__rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div><!-- /.testimonials-card__rating -->
                                    <div class="testimonials-card__content">
                                        Lorem ipsum is simply free dolor not sit amet, notted adipisicing elit sed do eiusmod incididunt labore et dolore text.
                                    </div><!-- /.testimonials-card__content -->
                                    <div class="testimonials-card__author">
                                        <img src="{% static 'hotels/assets/images/resources/testi-1-1.jpg '%}" alt="Mike Hardson">
                                        <h3 class="testimonials-card__name">
                                            Mike Hardson
                                        </h3><!-- /.testimonials-card__name -->
                                        <p class="testimonials-card__designation">CEO - Co Founder</p><!-- /.testimonials-card__designation -->
                                    </div><!-- /.testimonials-card__image -->
                                    <div class="testimonials-card__bottom-bg" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-2.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                    <div class="testimonials-card__bottom-bg-hover" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-2-hover.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                </div><!-- /.testimonials-card -->
                            </div><!-- /.item -->
                            <div class="item">
                                <div class="testimonials-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='100ms'>
                                    <div class="testimonials-card__top-bg" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-1.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                    <div class="testimonials-card__rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div><!-- /.testimonials-card__rating -->
                                    <div class="testimonials-card__content">
                                        Lorem ipsum is simply free dolor not sit amet, notted adipisicing elit sed do eiusmod incididunt labore et dolore text.
                                    </div><!-- /.testimonials-card__content -->
                                    <div class="testimonials-card__author">
                                        <img src="{% static 'hotels/assets/images/resources/testi-1-2.jpg '%}" alt="Alesha Brown">
                                        <h3 class="testimonials-card__name">
                                            Alesha Brown
                                        </h3><!-- /.testimonials-card__name -->
                                        <p class="testimonials-card__designation">Co Founder</p><!-- /.testimonials-card__designation -->
                                    </div><!-- /.testimonials-card__image -->
                                    <div class="testimonials-card__bottom-bg" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-2.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                    <div class="testimonials-card__bottom-bg-hover" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-2-hover.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                </div><!-- /.testimonials-card -->
                            </div><!-- /.item -->
                            <div class="item">
                                <div class="testimonials-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='200ms'>
                                    <div class="testimonials-card__top-bg" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-1.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                    <div class="testimonials-card__rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div><!-- /.testimonials-card__rating -->
                                    <div class="testimonials-card__content">
                                        Lorem ipsum is simply free dolor not sit amet, notted adipisicing elit sed do eiusmod incididunt labore et dolore text.
                                    </div><!-- /.testimonials-card__content -->
                                    <div class="testimonials-card__author">
                                        <img src="{% static 'hotels/assets/images/resources/testi-1-3.jpg '%}" alt="Kevin Martin">
                                        <h3 class="testimonials-card__name">
                                            Kevin Martin
                                        </h3><!-- /.testimonials-card__name -->
                                        <p class="testimonials-card__designation">Developer</p><!-- /.testimonials-card__designation -->
                                    </div><!-- /.testimonials-card__image -->
                                    <div class="testimonials-card__bottom-bg" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-2.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                    <div class="testimonials-card__bottom-bg-hover" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-2-hover.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                </div><!-- /.testimonials-card -->
                            </div><!-- /.item -->
                            <div class="item">
                                <div class="testimonials-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                                    <div class="testimonials-card__top-bg" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-1.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                    <div class="testimonials-card__rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div><!-- /.testimonials-card__rating -->
                                    <div class="testimonials-card__content">
                                        Lorem ipsum is simply free dolor not sit amet, notted adipisicing elit sed do eiusmod incididunt labore et dolore text.
                                    </div><!-- /.testimonials-card__content -->
                                    <div class="testimonials-card__author">
                                        <img src="{% static 'hotels/assets/images/resources/testi-1-4.jpg '%}" alt="Mark Smith">
                                        <h3 class="testimonials-card__name">
                                            Mark Smith
                                        </h3><!-- /.testimonials-card__name -->
                                        <p class="testimonials-card__designation">Reviwer</p><!-- /.testimonials-card__designation -->
                                    </div><!-- /.testimonials-card__image -->
                                    <div class="testimonials-card__bottom-bg" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-2.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                    <div class="testimonials-card__bottom-bg-hover" style="background-image:src="{% static 'hotels/assets/images/shapes/testi-card-bg-1-2-hover.png '%});"></div><!-- /.testimonials-card__top-bg -->
                                </div><!-- /.testimonials-card -->
                            </div><!-- /.item -->
                        </div><!-- /.testimonials-one__carousel -->
                    </div>
                </div>
            </div><!-- /.container -->
        </section><!-- /.testimonials-one -->
        <section class="gallery-two gallery-two--about">
            <div class="container">
                <div class="gallery-two__carousel villoz-owl__carousel  villoz-owl__carousel--basic-nav owl-carousel owl-theme" data-owl-options='{
			"items": 6,
			"margin": 30,
			"loop": false,
			"smartSpeed": 700,
			"nav": false,
			"navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
			"dots": false,
			"autoplay": true,
			"responsive": {
				"0": {
					"items": 1
				},
				"360": {
					"items": 2,
					"margin": 20
				},
				"575": {
					"items": 3
				},
				"992": {
					"items": 4
				},
				"1200": {
					"items": 5
				},
				"1365": {
					"items": 6
				}
			}
			}'>
                    <div class="item">
                        <div class="gallery-two__card">
                            <img src="{% static 'hotels/assets/images/gallery/gallery-2-1.jpg '%}" alt="">
                            <div class="gallery-two__card__hover">
                                <a href="assets/images/gallery/gallery-2-1.jpg '%}" class="img-popup">
                                    <span class="gallery-two__card__icon"></span>
                                </a>
                            </div><!-- /.gallery-two__card__hover -->
                        </div><!-- /.gallery-two__card -->
                    </div><!-- /.col-md-6 col-lg-4 -->
                    <div class="item">
                        <div class="gallery-two__card">
                            <img src="{% static 'hotels/assets/images/gallery/gallery-2-2.jpg '%}" alt="">
                            <div class="gallery-two__card__hover">
                                <a href="assets/images/gallery/gallery-2-2.jpg '%}" class="img-popup">
                                    <span class="gallery-two__card__icon"></span>
                                </a>
                            </div><!-- /.gallery-two__card__hover -->
                        </div><!-- /.gallery-two__card -->
                    </div><!-- /.col-md-6 col-lg-4 -->
                    <div class="item">
                        <div class="gallery-two__card">
                            <img src="{% static 'hotels/assets/images/gallery/gallery-2-3.jpg '%}" alt="">
                            <div class="gallery-two__card__hover">
                                <a href="assets/images/gallery/gallery-2-3.jpg '%}" class="img-popup">
                                    <span class="gallery-two__card__icon"></span>
                                </a>
                            </div><!-- /.gallery-two__card__hover -->
                        </div><!-- /.gallery-two__card -->
                    </div><!-- /.col-md-6 col-lg-4 -->
                    <div class="item">
                        <div class="gallery-two__card">
                            <img src="{% static 'hotels/assets/images/gallery/gallery-2-4.jpg '%}" alt="">
                            <div class="gallery-two__card__hover">
                                <a href="assets/images/gallery/gallery-2-4.jpg '%}" class="img-popup">
                                    <span class="gallery-two__card__icon"></span>
                                </a>
                            </div><!-- /.gallery-two__card__hover -->
                        </div><!-- /.gallery-two__card -->
                    </div><!-- /.col-md-6 col-lg-4 -->
                    <div class="item">
                        <div class="gallery-two__card">
                            <img src="{% static 'hotels/assets/images/gallery/gallery-2-5.jpg '%}" alt="">
                            <div class="gallery-two__card__hover">
                                <a href="assets/images/gallery/gallery-2-5.jpg '%}" class="img-popup">
                                    <span class="gallery-two__card__icon"></span>
                                </a>
                            </div><!-- /.gallery-two__card__hover -->
                        </div><!-- /.gallery-two__card -->
                    </div><!-- /.col-md-6 col-lg-4 -->
                    <div class="item">
                        <div class="gallery-two__card">
                            <img src="{% static 'hotels/assets/images/gallery/gallery-2-6.jpg '%}" alt="">
                            <div class="gallery-two__card__hover">
                                <a href="assets/images/gallery/gallery-2-6.jpg '%}" class="img-popup">
                                    <span class="gallery-two__card__icon"></span>
                                </a>
                            </div><!-- /.gallery-two__card__hover -->
                        </div><!-- /.gallery-two__card -->
                    </div><!-- /.col-md-6 col-lg-4 -->
                </div><!-- /.gallery-two__carousel -->
            </div><!-- /.container -->
        </section><!-- /.gallery-two -->
        <section class="video-two">
            <div class="video-two__bg jarallax" data-jarallax data-speed="0.3" data-imgPosition="50% -100%" style="background-image:src="{% static 'hotels/assets/images/backgrounds/video-bg-1-1.jpg '%});"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="video-two__content wow fadeInLeft" data-wow-delay="100ms">
                            <a href="https://www.youtube.com/watch?v=h9MbznbxlLc" class="video-popup">
                                <i class="fa fa-play"></i>
                            </a>
                            <h3 class="video-two__sub-title">Are you ready to travel?</h3>
                            <h3 class="video-two__title">Villoz is a World Leading<br> Online Villa Booking<br> Platform</h3>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row gutter-y-10">
                            <div class="col-md-6 text-center wow fadeInUp" data-wow-delay="100ms">
                                <div class="video-two__box">
                                    <div class="video-two__box__icon"><span class="icon-diamond"></span></div>
                                    <h3 class="video-two__box__title">Luxury <br>Villas</h3>
                                </div>
                            </div>
                            <div class="col-md-6 text-center wow fadeInUp" data-wow-delay="200ms">
                                <div class="video-two__box">
                                    <div class="video-two__box__icon"><span class="icon-guarantee"></span></div>
                                    <h3 class="video-two__box__title">Trusted <br>Experience</h3>
                                </div>
                            </div>
                            <div class="col-md-6 text-center wow fadeInUp" data-wow-delay="300ms">
                                <div class="video-two__box">
                                    <div class="video-two__box__icon"><span class="icon-room-service"></span></div>
                                    <h3 class="video-two__box__title">Unparalleled <br>Service</h3>
                                </div>
                            </div>
                            <div class="col-md-6 text-center wow fadeInUp" data-wow-delay="400ms">
                                <div class="video-two__box">
                                    <div class="video-two__box__icon"><span class="icon-secure-payment"></span></div>
                                    <h3 class="video-two__box__title">Secure <br>Payments</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="client-carousel ">
            <div class="container">
                <div class="client-carousel__one villoz-owl__carousel owl-theme owl-carousel" data-owl-options='{
            "items": 5,
            "margin": 65,
            "smartSpeed": 700,
            "loop":true,
            "autoplay": 6000,
            "nav":false,
            "dots":false,
            "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
            "responsive":{
                "0":{
                    "items":1,
                    "margin": 0
                },
                "360":{
                    "items":2,
                    "margin": 0
                },
                "575":{
                    "items":3,
                    "margin": 30
                },
                "768":{
                    "items":3,
                    "margin": 40
                },
                "992":{
                    "items": 4,
                    "margin": 40
                },
                "1200":{
                    "items": 5
                }
            }
            }'>
                    <div class="client-carousel__one__item">
                        <img src="{% static 'hotels/assets/images/resources/brand-1-1.png '%} '%}" alt="villoz">
                    </div><!-- /.owl-slide-item-->
                    <div class="client-carousel__one__item">
                        <img src="{% static 'hotels/assets/images/resources/brand-1-1.png '%} '%}" alt="villoz">
                    </div><!-- /.owl-slide-item-->
                    <div class="client-carousel__one__item">
                        <img src="{% static 'hotels/assets/images/resources/brand-1-1.png '%} '%}" alt="villoz">
                    </div><!-- /.owl-slide-item-->
                    <div class="client-carousel__one__item">
                        <img src="{% static 'hotels/assets/images/resources/brand-1-1.png '%} '%}" alt="villoz">
                    </div><!-- /.owl-slide-item-->
                    <div class="client-carousel__one__item">
                        <img src="{% static 'hotels/assets/images/resources/brand-1-1.png '%} '%}" alt="villoz">
                    </div><!-- /.owl-slide-item-->
                    <div class="client-carousel__one__item">
                        <img src="{% static 'hotels/assets/images/resources/brand-1-1.png '%} '%}" alt="villoz">
                    </div><!-- /.owl-slide-item-->
                    <div class="client-carousel__one__item">
                        <img src="{% static 'hotels/assets/images/resources/brand-1-1.png '%} '%}" alt="villoz">
                    </div><!-- /.owl-slide-item-->
                    <div class="client-carousel__one__item">
                        <img src="{% static 'hotels/assets/images/resources/brand-1-1.png '%} '%}" alt="villoz">
                    </div><!-- /.owl-slide-item-->
                    <div class="client-carousel__one__item">
                        <img src="{% static 'hotels/assets/images/resources/brand-1-1.png '%} '%}" alt="villoz">
                    </div><!-- /.owl-slide-item-->
                    <div class="client-carousel__one__item">
                        <img src="{% static 'hotels/assets/images/resources/brand-1-1.png '%} '%}" alt="villoz">
                    </div><!-- /.owl-slide-item-->
                </div><!-- /.thm-owl__slider -->
            </div><!-- /.container -->
        </div><!-- /.client-carousel -->


        <section class="team-one team-one--with-border">
            <div class="container">
                <div class="sec-title text-center">

                    <h6 class="sec-title__tagline">Our team members</h6><!-- /.sec-title__tagline -->

                    <h3 class="sec-title__title">Meet Our Experts</h3><!-- /.sec-title__title -->
                </div><!-- /.sec-title -->
                <div class="team-one__carousel villoz-owl__carousel villoz-owl__carousel--with-shadow villoz-owl__carousel--basic-nav owl-carousel" data-owl-options='{
			"items": 1,
			"margin": 0,
			"loop": false,
			"smartSpeed": 700,
			"nav": false,
			"navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
			"dots": true,
			"autoplay": false,
			"responsive": {
				"0": {
					"items": 1
				},
				"576": {
					"items": 2,
					"margin": 30
				},
				"992": {
					"items": 3,
					"margin": 30
				}
			}
			}'>
                    <div class="item">
                        <div class="team-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='100ms'>
                            <div class="team-card__image">
                                <img src="{% static 'hotels/assets/images/team/team-1-1.jpg '%}" alt="Kevin Martin">
                                <div class="team-card__hover">
                                    <div class="team-card__social">
                                        <i class="fa fa-share-alt"></i>
                                        <div class="team-card__social__list">
                                            <a href="https://twitter.com">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                                <span class="sr-only">Twitter</span>
                                            </a>
                                            <a href="https://facebook.com">
                                                <i class="fab fa-facebook" aria-hidden="true"></i>
                                                <span class="sr-only">Facebook</span>
                                            </a>
                                            <a href="https://pinterest.com">
                                                <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                                                <span class="sr-only">Pinterest</span>
                                            </a>
                                            <a href="https://instagram.com">
                                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                                <span class="sr-only">Instagram</span>
                                            </a>
                                        </div><!-- /.team-card__social__list -->
                                    </div><!-- /.team-card__social -->
                                </div><!-- /.team-card__hover -->
                            </div><!-- /.team-card__image -->
                            <div class="team-card__content">
                                <h3 class="team-card__title">
                                    <a href="team-details.html">Kevin Martin</a>
                                </h3><!-- /.team-card__title -->
                                <p class="team-card__designation">Co Founder</p><!-- /.team-card__designation -->
                            </div><!-- /.team-card__content -->
                        </div><!-- /.team-card -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="team-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='200ms'>
                            <div class="team-card__image">
                                <img src="{% static 'hotels/assets/images/team/team-1-2.jpg '%}" alt="Aleesha Brown">
                                <div class="team-card__hover">
                                    <div class="team-card__social">
                                        <i class="fa fa-share-alt"></i>
                                        <div class="team-card__social__list">
                                            <a href="https://twitter.com">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                                <span class="sr-only">Twitter</span>
                                            </a>
                                            <a href="https://facebook.com">
                                                <i class="fab fa-facebook" aria-hidden="true"></i>
                                                <span class="sr-only">Facebook</span>
                                            </a>
                                            <a href="https://pinterest.com">
                                                <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                                                <span class="sr-only">Pinterest</span>
                                            </a>
                                            <a href="https://instagram.com">
                                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                                <span class="sr-only">Instagram</span>
                                            </a>
                                        </div><!-- /.team-card__social__list -->
                                    </div><!-- /.team-card__social -->
                                </div><!-- /.team-card__hover -->
                            </div><!-- /.team-card__image -->
                            <div class="team-card__content">
                                <h3 class="team-card__title">
                                    <a href="team-details.html">Aleesha Brown</a>
                                </h3><!-- /.team-card__title -->
                                <p class="team-card__designation">Marketing</p><!-- /.team-card__designation -->
                            </div><!-- /.team-card__content -->
                        </div><!-- /.team-card -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="team-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                            <div class="team-card__image">
                                <img src="{% static 'hotels/assets/images/team/team-1-3.jpg '%}" alt="David Copers">
                                <div class="team-card__hover">
                                    <div class="team-card__social">
                                        <i class="fa fa-share-alt"></i>
                                        <div class="team-card__social__list">
                                            <a href="https://twitter.com">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                                <span class="sr-only">Twitter</span>
                                            </a>
                                            <a href="https://facebook.com">
                                                <i class="fab fa-facebook" aria-hidden="true"></i>
                                                <span class="sr-only">Facebook</span>
                                            </a>
                                            <a href="https://pinterest.com">
                                                <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                                                <span class="sr-only">Pinterest</span>
                                            </a>
                                            <a href="https://instagram.com">
                                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                                <span class="sr-only">Instagram</span>
                                            </a>
                                        </div><!-- /.team-card__social__list -->
                                    </div><!-- /.team-card__social -->
                                </div><!-- /.team-card__hover -->
                            </div><!-- /.team-card__image -->
                            <div class="team-card__content">
                                <h3 class="team-card__title">
                                    <a href="team-details.html">David Copers</a>
                                </h3><!-- /.team-card__title -->
                                <p class="team-card__designation">Director</p><!-- /.team-card__designation -->
                            </div><!-- /.team-card__content -->
                        </div><!-- /.team-card -->
                    </div><!-- /.item -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.team-one -->
{% endblock %}