{% extends '.\base.html' %}
{% load static %}
{% block content %}

    <section class="checkout-page">
            <div class="container">
                <form class="checkout-page__form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-errors"> {{ from.non_field_errors }}</div>
                   {% for f in form %}
                    <div class="checkout-page__input-box"><label class="checkout-page__input-box" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</div>
                        <div class="form-errors"> {{ f.field_errors }}</div>
                   {% endfor %}
                    <p><button type="submit">Отправить</button></p>
                </form>

            </div>
    </section>
{% endblock %}